@font-face{
    font-family: Poppins ;
    src: url(../Poppins/Poppins-Regular.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.navbar .container{
    width: 1200px;
    margin: auto;
    /* background-color: #acd3f6; */
}
.navbar .container .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .row .col-4{
    width: 33.33%;
    padding-left: 35px;
    /* border: 1px solid grey; */
}
.navbar .container .row .col-7{
    width: 58.33%;
    padding-left: 95px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid grey; */
}
.navbar .container .row .col-1{
    width: 8.33%;
    display: flex;
    justify-content: start;
    /* border: 1px solid grey; */
}
.navbar .container .row .col-7 .navbar-nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type:  none;
}
.navbar .container .col-7 .navbar-nav .navbar-link{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px ;
    color: black
}
.navbar .container .col-7 .navbar-nav .navbar-link:hover{
    color: #0C5ADB;
}
.navbar .container .col-1{
    display: flex;
    gap: 15px;
    align-items: center;
}
.navbar .container .col-1 .search{
    padding: 6px 6px;
    width: 30px;
    height: 30px;
    background-color: #0C5ADB;
    border-radius: 3px;
}
:root{
--color-text:black;
--color-bg: white;
}
[data-theme="light"] {
    --color-bg: #ffffff;
    --color-text: #000000;
    --btn-bg: #ddd;
    --btn-color: #000
}
    
[data-theme="dark"] {
    --color-bg: #000000;
    --color-text: #ffffff;
}
    
body {
    background-color: var(--color-bg);
    color: var(--color-text);
}
[data-theme="dark"] a,
[data-theme="dark"] h1,
[data-theme="dark"] p,
[data-theme="dark"] li {
    color: #868383 !important;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px;
    padding: 0;
    background-color: var(--btn-bg); 
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
   
}
button img{
    width: 20px;
    height: 19px;
    object-fit: cover;
}
.navbar .container .col-1 .fa-magnifying-glass{
    color: white;
}
.navbar .container .col-1 button{
    padding: 6px 6px;
    background-color: #0C5ADB;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
.sec-banner{
    margin-bottom: 100px;
}
.sec-banner .container{
    width: 1200px;
    margin: auto;
}
.sec-banner .container span{
    margin-top: 50px;
    color: #4074DE;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bolder;
    display: block;
    letter-spacing: 5px;
}
.sec-banner .container h1{
    margin-top: 10px;
    color: black;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 900;
    /* line-height: 100px; */
}
.sec-banner .container ul{
    margin-top: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.sec-banner .container .menu{
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-color:#f2f4ff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #545350;
    border-radius: 4px;
    letter-spacing: 2px;
    display: inline-block;
}
.sec-banner .container .menu:hover{
    cursor: pointer;
    background-color: #0C5ADB;
    color: white;
    transition: 0.3s;
}
.sec-banner .container .active{
    background-color: #0C5ADB;
    color: white;
    cursor: pointer;
}
.sec-banner .container .row{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-inline: 30px;
}
.sec-banner .container .row .col-4{
    width: 33.33%;
    display: flex;
   position: relative;
   overflow: hidden;
}
.sec-banner .container .row .col-4 img{
    width: 100%;
    /* padding: 2px; */
    transition: transform 0.5s;
}
.sec-banner .container .row .col-4 img:hover{
    transform: scale(1.1);
}
.sec-banner .container .row .col-4 .box{
    width: 300px;
    /* height: 200px; */
    margin: 10px;
    background-color: #0C5ADB;
    border-radius: 5px;
    position: absolute;
    top: 50%;
     /* right: 10%; */
    left: 6%; 
    padding:  30px 20px;
    display: none;
    
}
.sec-banner .container .row .col-4:hover .box{
    display: block;
    /* transition: 1s; */
    
}
.sec-banner .container .row .col-4 .box:hover{
    top: 45%;
    transition: 0.5s;
}
.sec-banner .container .row .col-4 .box .content{
    display: flex;
    gap: 10px;
    /* padding: 25px 20px; */
    /* align-items: start; */
}
.sec-banner .container .row .col-4 .box .circle{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    margin-bottom: 20px;
}
.sec-banner .container .row .col-4 .box .circle:hover,
.sec-banner .container .row .col-4 .box .circle i:hover {
    color: white;
    background-color: #1c1c79;
    border-radius: 100%;
}
.sec-banner .container .row .col-4 .content .circle i{
    color: #0C5ADB;
    font-size: 20px;
    padding: 10px;
}
.sec-banner .container .row .col-4 h2{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    word-spacing: 3px;
}
.sec-banner .container .row .col-4 h3{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    word-spacing: 3px;
    font-weight: lighter;
}
footer{
    width: 100%;
    background-color: #111A3A;
}
footer .container{
    width: 1200px;
    padding: 18px 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .container .col-6{
    width: 50%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: lighter;
}
footer .container .col-left{
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}
footer .container .col-left h5{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: lighter;
}